# Python
__pycache__/
*.py[cod]
*.so
*.dylib
.env
.venv
venv/
env/
*site-packages*/
.yarn/
node_modules/

# Your local env folder
yoloteleop/

# Model artifacts
*.pt
*.pth
*.onnx
*.npz
*.ckpt
*.h5


# macOS system files
.DS_Store

# cloned external repos
Depth-Anything-3/
webrtc-video-streaming/
yoloteleop 2/

# Python cache
__pycache__/
*.pyc


